body{
    padding: 300px 0 0 0;
}
.form{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: black;
}

input{
    border-bottom: black;
    border: black;
}