.home{
    padding: 300px 0 0 0; 
}
.form{
    
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
}

div.submitbutton{
    display: flex;
    justify-content: center;
}

label{
    color: white;
}

.tickerform{
    padding: 100px;
}
